@charset "UTF-8";
.flexCenter, aside, .padreIrACarrito, .contenedorFoto, .formularioContacto, #consultaFoto, .padreCartaProductoPagina {
  display: flex;
  justify-content: center; }

.tablaEstilo, .productos, .cantidades, .precios, .descripciones, .titulos {
  background-color: white;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

footer {
  background-color: #212529;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 3px solid black; }
  footer .redesSociales {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap; }
  footer .copyright {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
    font-size: x-small; }
    footer .copyright p {
      margin-bottom: 0px;
      align-self: flex-end; }

.fa {
  padding: 20px;
  text-decoration: none;
  border-radius: 100%;
  border: 1px solid black; }

.fa:hover {
  opacity: 0.7; }

.fa-facebook {
  background: #3B5998;
  color: white;
  font-size: large;
  padding: 20px 24px 20px 24px; }

.fa-twitter {
  background: #55ACEE;
  color: white;
  font-size: large; }

.fa-youtube {
  background: red;
  color: white;
  font-size: large; }

.fa-instagram {
  background-color: darkblue;
  color: white;
  font-size: large; }

@media screen and (max-width: 468px) {
  .fa {
    padding: 15px;
    text-decoration: none;
    border-radius: 100%;
    border: 1px solid black; }
  .fa:hover {
    opacity: 0.7; }
  .fa-facebook {
    background: #3B5998;
    color: white;
    font-size: small;
    padding: 15px 18px 15px 18px; }
  .fa-twitter {
    background: #55ACEE;
    color: white;
    font-size: small; }
  .fa-youtube {
    background: red;
    color: white;
    font-size: small; }
  .fa-instagram {
    background-color: darkblue;
    color: white;
    font-size: small; }
  footer {
    display: flex; } }

@media only screen and (max-width: 335px) {
  footer p {
    font-size: xx-small; } }

header {
  width: 100%; }

.flexCenter, aside, .padreIrACarrito, .contenedorFoto, .formularioContacto, #consultaFoto, .padreCartaProductoPagina {
  display: flex;
  justify-content: center; }

.tablaEstilo, .productos, .cantidades, .precios, .descripciones, .titulos {
  background-color: white;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

aside {
  align-self: center;
  margin: 2%;
  width: 100%; }
  aside .publicidad {
    border: 3px solid black;
    border-radius: 10px;
    width: 70%; }

@media only screen and (max-width: 900px) {
  aside .publicidad {
    width: 80%; } }

@media only screen and (max-width: 580px) {
  aside .publicidad {
    height: 20%; } }

.flexCenter, aside, .padreIrACarrito, .contenedorFoto, .formularioContacto, #consultaFoto, .padreCartaProductoPagina {
  display: flex;
  justify-content: center; }

.tablaEstilo, .productos, .cantidades, .precios, .descripciones, .titulos {
  background-color: white;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

.contenedorProductosDestacados {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid black;
  border-radius: 10px;
  background-color: #212529;
  padding-bottom: 1%; }
  .contenedorProductosDestacados h2 {
    margin: 1% 0% 1% 0%; }

.productosDestacados {
  width: 100%;
  display: flex;
  justify-content: space-around; }

.fotoProductoInicio {
  height: 19vw;
  border: 3px solid black;
  border-radius: 10px;
  padding: 1%;
  background-color: white; }

.fotoProductoInicio:hover {
  border: 2px solid yellow; }

.carousel {
  border-top: 3px solid black;
  border-bottom: 3px solid black; }

.novedades {
  background-color: #212529;
  border-top: 3px solid black; }

.padreIrACarrito {
  width: 100%; }

.irACarrito {
  width: 70vw; }

@media only screen and (max-width: 740px) {
  .productosDestacados {
    display: flex;
    flex-direction: column;
    padding: 2%; }
  .productosDestacados {
    width: 80%; }
  .fotoProductoInicio {
    height: auto;
    margin: 1% 0% 1% 0%; } }

@media only screen and (max-width: 500px) {
  .irACarrito {
    width: 52vw; } }

.flexCenter, aside, .padreIrACarrito, .contenedorFoto, .formularioContacto, #consultaFoto, .padreCartaProductoPagina {
  display: flex;
  justify-content: center; }

.tablaEstilo, .productos, .cantidades, .precios, .descripciones, .titulos {
  background-color: white;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

.listaProductos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.cartaProducto {
  border: 4px solid black;
  border-radius: 10px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #212529;
  margin: 1%;
  overflow: hidden; }

.contenedorFoto {
  width: 100%;
  background-color: white;
  border-top: 4px solid black;
  border-bottom: 4px solid black; }

.fotoProducto {
  background-color: whitesmoke;
  margin: 1%;
  height: 17vw; }

.descripcionProducto {
  border: 3px solid black;
  border-radius: 10px;
  margin: 1%;
  width: 95%;
  padding: 1%;
  background-color: white; }
  .descripcionProducto h5 {
    text-align: center; }

.precio {
  display: flex;
  justify-content: center;
  align-content: bottom; }

.precioCantidadA単adir {
  border: 3px solid black;
  border-radius: 10px;
  width: 95%;
  text-align: center;
  padding: 1%;
  margin: 1%;
  background-color: white; }

.tituloCarta {
  margin: 1%;
  color: white; }

.a単adirCarrito {
  margin: 0% 1% 0% 1%; }

.cantidadProducto {
  width: 40%; }

.irACarrito {
  margin-top: 3%; }

@media only screen and (max-width: 900px) {
  .cartaProducto {
    width: 40%; } }

@media screen and (max-width: 672px) and (min-width: 468px) {
  .cartaProducto {
    width: 70%;
    height: fit-content;
    justify-content: space-evenly; } }

@media screen and (max-width: 468px) {
  .cartaProducto {
    width: 85%; }
  .listaProductos h4 {
    font-size: medium; }
  .fotoProducto {
    height: 35vw; } }

.flexCenter, aside, .padreIrACarrito, .contenedorFoto, .formularioContacto, #consultaFoto, .padreCartaProductoPagina {
  display: flex;
  justify-content: center; }

.tablaEstilo, .productos, .cantidades, .precios, .descripciones, .titulos {
  background-color: white;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

.formulario {
  border: 4px solid black;
  border-radius: 10px;
  padding: 2%;
  margin: 1%;
  background-color: white;
  width: 80%; }

.form-check-label {
  flex-wrap: nowrap; }

.formularioContacto {
  width: 100%; }

@media screen and (max-width: 468px) {
  .formulario {
    width: 95%;
    font-size: small; }
  .form-control {
    font-size: small; }
  .input-group-text {
    font-size: small; }
  .form-select {
    font-size: small; } }

.flexCenter, aside, .padreIrACarrito, .contenedorFoto, .formularioContacto, #consultaFoto, .padreCartaProductoPagina {
  display: flex;
  justify-content: center; }

.tablaEstilo, .productos, .cantidades, .precios, .descripciones, .titulos {
  background-color: white;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

.formulario2 {
  border: 4px solid black;
  border-radius: 10px;
  padding: 2%;
  margin: 1%;
  background-color: white; }

.fotoConsulta {
  border: 2px solid white;
  border-radius: 10px;
  margin-bottom: 1%; }

#consultaFoto {
  width: 100%;
  height: 20%; }

@media screen and (max-width: 1000px) {
  .fotoConsulta {
    height: 38vw; } }

.flexCenter, aside, .padreIrACarrito, .contenedorFoto, .formularioContacto, #consultaFoto, .padreCartaProductoPagina {
  display: flex;
  justify-content: center; }

.tablaEstilo, .productos, .cantidades, .precios, .descripciones, .titulos {
  background-color: white;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

.totalPagar {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  height: 5vw;
  margin: 3vw;
  align-items: center;
  background-color: #212529;
  padding: 3.5vw;
  border: 3px solid black;
  border-radius: 10px; }

.padreTotalPagar {
  display: flex;
  justify-content: center; }

.total {
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  padding: 1.2%;
  font-size: 1.5vw; }

.irAPagar {
  margin: 1%;
  font-size: 1.2vw; }

.productosEnCarrito {
  display: grid;
  width: 100vw;
  border: 3px solid black;
  border-radius: 10px;
  padding: 2%;
  background-color: #212529;
  justify-content: center;
  grid-template-columns: repeat(4, 24%);
  grid-template-rows: repeat(5, 70px);
  grid-template-areas: "titulo1 titulo2 titulo3 titulo4" "producto1 cantidad1 descripcion1 precio1" "producto2 cantidad2 descripcion2 precio2" "producto3 cantidad3 descripcion3 precio3" "producto4 cantidad4 descripcion4 precio4"; }

.producto1 {
  grid-area: producto1; }

.producto2 {
  grid-area: producto2; }

.producto3 {
  grid-area: producto3; }

.producto4 {
  grid-area: producto4; }

.cantidad1 {
  grid-area: cantidad1; }

.cantidad2 {
  grid-area: cantidad2; }

.cantidad3 {
  grid-area: cantidad3; }

.cantidad4 {
  grid-area: cantidad4; }

.precio1 {
  grid-area: precio1; }

.precio2 {
  grid-area: precio2; }

.precio3 {
  grid-area: precio3; }

.precio4 {
  grid-area: precio4; }

.descripcion1 {
  grid-area: descripcion1; }

.descripcion2 {
  grid-area: descripcion2; }

.descripcion3 {
  grid-area: descripcion3; }

.descripcion4 {
  grid-area: descripcion4; }

.descripciones {
  overflow: scroll;
  font-size: 0.8vw; }

.titulo1 {
  grid-area: titulo1; }

.titulo2 {
  grid-area: titulo2; }

.titulo3 {
  grid-area: titulo3; }

.titulo4 {
  grid-area: titulo4; }

.titulos {
  font-size: x-large;
  font-weight: bold; }

@media only screen and (max-width: 740px) {
  .titulos {
    font-size: 3vw; }
  .descripciones {
    font-size: 1.5vw; } }

@media screen and (max-width: 672px) and (min-width: 468px) {
  .totalPagar {
    height: 20%; }
  .irAPagar {
    width: 25%;
    font-size: 1.7vw; } }

@media screen and (max-width: 468px) {
  .totalPagar {
    height: 35%; }
  .irAPagar {
    width: 30%;
    font-size: 2vw; }
  .total {
    text-align: center; }
  .productosEnCarrito {
    margin: 1%; }
  .descripciones {
    font-size: 1.5vw; }
  .productos {
    font-size: small; }
  .precios {
    font-size: small; }
  .titulos {
    font-size: smaller; } }

@media only screen and (max-width: 410px) {
  .titulos {
    font-size: x-small; } }

.subtitulo {
  text-align: center;
  margin: 1%;
  color: white; }

h1 {
  text-align: center;
  margin: 2%;
  color: white; }

@media only screen and (max-width: 335px) {
  h1 {
    font-size: large; } }

.flexCenter, aside, .padreIrACarrito, .contenedorFoto, .formularioContacto, #consultaFoto, .padreCartaProductoPagina {
  display: flex;
  justify-content: center; }

.tablaEstilo, .productos, .cantidades, .precios, .descripciones, .titulos {
  background-color: white;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

.padreQuienesSomos {
  width: 100%;
  display: flex;
  justify-content: center; }

.quienesSomos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 95%;
  border: 3px solid black;
  border-radius: 10px;
  margin: 2%;
  background-color: #212529;
  padding: 1%;
  text-align: center; }
  .quienesSomos p {
    color: white; }
  .quienesSomos h2 {
    color: white; }

.flexCenter, aside, .padreIrACarrito, .contenedorFoto, .formularioContacto, #consultaFoto, .padreCartaProductoPagina {
  display: flex;
  justify-content: center; }

.tablaEstilo, .productos, .cantidades, .precios, .descripciones, .titulos {
  background-color: white;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

.padreCartaProductoPagina {
  width: 100%; }

.cartaProductoPagina {
  border: 4px solid black;
  border-radius: 10px;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #212529;
  margin: 2% 1% 2% 1%;
  overflow: hidden; }

.contenedorFoto {
  width: 100%;
  background-color: white;
  border-top: 4px solid black;
  border-bottom: 4px solid black; }

.fotoProductoPagina {
  background-color: whitesmoke;
  margin: 1%;
  height: 40vw; }

.descripcionProducto {
  border: 3px solid black;
  border-radius: 10px;
  margin: 1%;
  width: 95%;
  padding: 1%;
  background-color: white; }
  .descripcionProducto h5 {
    text-align: center; }

.precio {
  display: flex;
  justify-content: center;
  align-content: bottom; }

.precioCantidadA単adir {
  border: 3px solid black;
  border-radius: 10px;
  width: 95%;
  text-align: center;
  padding: 1%;
  margin: 1%;
  background-color: white; }

.tituloCarta {
  margin: 1%;
  color: white; }

.a単adirCarrito {
  margin: 0% 1% 0% 1%; }

.cantidadProducto {
  width: 40%; }

.irACarrito {
  margin-top: 3%; }

@media only screen and (max-width: 900px) {
  .cartaProducto {
    width: 40%; } }

@media screen and (max-width: 672px) and (min-width: 468px) {
  .cartaProducto {
    width: 70%;
    height: fit-content;
    justify-content: space-evenly; } }

@media screen and (max-width: 468px) {
  .cartaProducto {
    width: 85%; }
  .listaProductos h4 {
    font-size: medium; }
  .fotoProducto {
    height: 35vw; } }

* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style: none;
  resize: none; }

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow-x: hidden;
  background-image: url(../multimedia/fondo2.jpg); }
