@import "../variables/variables";

aside{
    align-self:  center;
    margin: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    .publicidad{
        border: $bordeNegro;
        border-radius: $borderRadius;
        width: 80%;
        height: 30%;
    }
}