@import "../variables/variables";
@import "../sass2/extend";

aside{
    align-self:  center;
    margin: 2%;
    width: 100%;
    @extend .flexCenter;
    .publicidad{
        border: $bordeNegro;
        border-radius: $borderRadius;
        width: 70%;
    }
}

@media only screen and (max-width: 900px) {
    aside{
        .publicidad{
            width: 80%;
        }
    }
}

@media only screen and (max-width: 580px) {
    aside{
        .publicidad{
            height: 20%;
        }
    }
}