@import "../variables/variables";
@import "../sass2/extend";
@import "../sass2/mixins";

.totalPagar{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    height: 5vw;
    margin: 3vw;
    align-items: center;
    background-color: $colorpagina;
    padding: 3.5vw;
    border: $bordeNegro;
    border-radius: $borderRadius;
}

.padreTotalPagar{
    display: flex;
    justify-content: center;
}
.total{
border: $bordeNegro2px;
border-radius: $borderRadius;
background-color: white;
padding: 1.2%;
font-size: 1.5vw;
}

.irAPagar{
margin: 1%;
font-size: 1.5vw;
}

.productosEnCarrito {
    display: grid;
    width: 100vw;
    border: $bordeNegro;
    border-radius: $borderRadius;
    padding: 2%;
    background-color: $colorpagina;
    justify-content: center;
    grid-template-columns: repeat(4, 24%);
    grid-template-rows: repeat(5, 70px);
    grid-template-areas:
        "titulo1 titulo2 titulo3 titulo4"
        "producto1 cantidad1 descripcion1 precio1"
        "producto2 cantidad2 descripcion2 precio2"
        "producto3 cantidad3 descripcion3 precio3"
        "producto4 cantidad4 descripcion4 precio4";
}

.producto1 {
    grid-area: producto1;
}

.producto2 {
    grid-area: producto2;
}

.producto3 {
    grid-area: producto3;
}

.producto4 {
    grid-area: producto4;
}

.productos{
    @extend .tablaEstilo;
}

.cantidad1 {
    grid-area: cantidad1;
}

.cantidad2 {
    grid-area: cantidad2;
}

.cantidad3 {
    grid-area: cantidad3;
}

.cantidad4 {
    grid-area: cantidad4;
}

.cantidades{
    @extend .tablaEstilo;
}

.precio1 {
    grid-area: precio1;
}

.precio2 {
    grid-area: precio2;
}
.precio3 {
    grid-area: precio3;
}

.precio4 {
    grid-area: precio4;
}

.precios{
    @extend .tablaEstilo;
}

.descripcion1 {
    grid-area: descripcion1;
}

.descripcion2 {
    grid-area: descripcion2;
}

.descripcion3 {
    grid-area: descripcion3;
}

.descripcion4 {
    grid-area: descripcion4;
}

.descripciones{
    @extend .tablaEstilo;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 1vw;
    p{
        margin-top: 2%;
    }

}

.titulo1 {
    grid-area: titulo1;
}

.titulo2 {
    grid-area: titulo2;
}

.titulo3 {
    grid-area: titulo3;
}

.titulo4 {
    grid-area: titulo4;
}

.titulos{
    @extend .tablaEstilo;
    font-size: x-large;
    font-weight: bold;
    font-family: "Kdam Thmor Pro", sans-serif;
}

@media only screen and (max-width: 740px){
    .titulos{
        font-size: 3vw;
    }
    .descripciones{
        font-size: 1.8vw;
    }
}

@media screen and (max-width: 672px) and (min-width:468px){
    .totalPagar{
        height: 20%;
    }
    .irAPagar{
        width: 25%;
        font-size: 3vw;
    }
}

@media screen and (max-width: 468px){
    .totalPagar{
        height: 35%;
    }
    .irAPagar{
        width: 30%;
        font-size: 3.5vw;
    }
    .total{
        text-align: center;
        width: fit-content;
    }
    .productosEnCarrito{
        margin: 1%;
    }
    .descripciones{
        font-size: 2.7vw;
    }
    .productos{
        font-size: small;
    }
    .precios{
        font-size: small;
    }
    .titulos{
        font-size: smaller;
    }
}

@media only screen and (max-width: 410px){
    .titulos{
        font-size: x-small;
    }
}