@import "../variables/variables";

.subtitulo{
    text-align: center;
    margin: 1%;
    color: $colortextopagina;
}
h1{
    text-align: center;
    margin: 2%;
    color: $colortextopagina;
}

@media only screen and (max-width: 335px){
    h1{
        font-size: large;
    }
}