@import "../variables/variables";
@import "../sass2/extend";
@import "../sass2/mixins";

.contenedorProductosDestacados{
    width: 100%;
    @include centrar-columna3;
    border: $bordeNegro;
    border-radius: $borderRadius;
    background-color: $colorpagina;
    h2{
        margin: 1% 0% 1% 0%;
    }
    padding-bottom: 1%;
    box-shadow: 10px $colorpagina;
}
.productosDestacados{
    width: 100%;
    display: flex;
    justify-content: space-around;


}
.fotoProductoInicio{
    height: 18vw;
    border: $bordeNegro;
    border-radius: $borderRadius;
    padding: 1%;
    background-color: white;
    box-shadow: 30px white;
}

.fotoProductoInicio:hover {
    border: 2px solid yellow;
}

.carousel{
    border-top: $bordeNegro;
    border-bottom: $bordeNegro;
}
.novedades{
    background-color: $colorpagina;
    border-top: $bordeNegro;
}
.padreIrACarrito{
width: 100%;
@extend .flexCenter;
}
.irACarrito{
    width: 70vw;
}
@media only screen and (max-width: 740px){
    .productosDestacados{
        @include columna;
        padding: 2%;
    }
    .productosDestacados{
        width: 80%;
    }
    .fotoProductoInicio{
        height: auto;
        margin: 1% 0% 1% 0%;
    }
}
@media only screen and (max-width: 500px){
.irACarrito{
    width: 52vw;
}
}