@import "../variables/variables";
@import "../sass2/extend";

.padreQuienesSomos {
    width: 100%;
    display: flex;
    justify-content: center;
}

.quienesSomos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border: $bordeNegro;
    border-radius: $borderRadius;
    background-color: $colorpagina;
    margin: 2% 0% 2% 0%;
    padding: 1%;
    text-align: center;
    box-shadow: 10px $colorpagina;

    p {
        color: $colortextopagina;
    }

    h2 {
        color: $colortextopagina;
    }
}